header {
  display: grid;
  grid-template-columns: 20% 80%;
  line-height: 2;
}
.logo{
  font-weight: bold;
  font-size: 20px;
}
.banner {
  height: 25%;
  margin: 10px 0;
  font-size: 25px;
  line-height: 6;
}
.text{
  height: 20%;
  line-height:5;
  margin: 10px 0;
  font-size: 25px;
  font-weight: bold;
}
.box-area {
  height: 40%;
  line-height: 15;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 10px 0;
}
header, .banner, .text, .box, footer{
  background-color:#aaa;
  text-align: center;
}