header{
    overflow: hidden;
    line-height: 2;
}
.logo{
    width: 20%;
    font-weight: bold;
    font-size: 20px;
    float: left;
}
.navigation{
    width: 80%;
    float: right;
}
.content {
    height: 300px;
    margin: 10px 0;
}
.area {
    float: left; 
    width: calc(25% - 0.75rem); 
    margin: 0.5rem;
    height: calc(25% - 0.75rem);
}
.area:nth-child(4n + 1) {
    margin-left: 0;
}
.area:nth-child(4n + 4) {
    margin-right: 0;
}
.area:nth-child(-n + 4) {
    margin-top: 0;
}
.box_area{
    width: 100%;
    display: float;
    margin-bottom: 10px;
    overflow: hidden;
}
.box {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    height: 230px;
    width: calc((100% - 20px) / 3);
    line-height: 230px;
}
.box:first-child {
    margin-left: 0;
}
.box:last-child {
    margin-right: 0;
}
footer, header, .box, .area {
    background-color: #aaa;
    text-align: center;
}
