.logo{
  height: 7%;
  line-height: 2;
  background-color: #aaa;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
}
span{
  margin-left: 10px;
  font-family: sans-serif;
}
.navigation{
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
}
.banner{
  height: 30%;
  line-height: 11;
  margin: 10px 0;
  font-family: sans-serif;
}
.content{
  height: 50%;
  overflow: hidden;
  line-height: 17;
  gap: 1rem;
  font-size: 20px;
  margin: 10px 0;
  font-family: sans-serif;
}
.bar{
  height: 100%;
  float: left;
  width: 30%;
  margin-right: 1rem;
  font-family: sans-serif;
}
.body{
  height: 100%;
  float: left;
  width: calc(70% - 1rem);
  font-family: sans-serif;
}
footer{
  text-align: center;
  font-family: sans-serif;
}
.navigation, .banner, .bar,.body, footer {
  background-color: #aaa;
  text-align: center;
  font-family: sans-serif;
}